* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: navy;
}

.heroSection {
    margin-top: calc(25rem / 16);
    margin-bottom: calc(25rem / 16);
    margin-left: 50px;
    margin-right: 50px;
}

.intro h1{
    text-align: center;
    font-size: calc(50rem / 16);
}

.intro p{
    text-align: center;
    font-size: calc(26rem / 16);
}

.aboutMe {
    margin-top: calc(25rem / 16);
    margin-bottom: calc(25rem / 16);
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    color: navy;
}

.projects {
    margin-top: calc(25rem / 16);
    margin-bottom: calc(25rem / 16);
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    margin-top: calc(25rem / 16);
    margin-bottom: calc(25rem / 16);
}